<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboad'" [items]="['Home']" [active_item]="'Dashboad'"></app-breadcrumb>
    </div>
    <div class="row ">
      <div class="col-xl-12 ">
        <div class="row">
          <div class="col-lg-6">
            <div class="card card-statistic-2">
              <div class="clearfix">
                <div class="card-right">
                  <div>
                    <h5 class="float-end">Students</h5>
                  </div>
                  <div class="m-r-10 m-l-10">
                    <h3 class="font-weight-bold float-end mb-0"> {{statistic.nbEtudiants}}</h3>
                  </div>
                </div>
              </div>
              <div class="card-chart">
                <canvas baseChart [chartType]="'line'" [datasets]="cardChart4Data" [labels]="cardChart4Label"
                  [options]="cardChart4" [legend]="true">
                </canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-statistic-2">
              <div class="clearfix">
                <div class="card-right">
                  <div>
                    <h5 class="float-end">Filieres</h5>
                  </div>
                  <div class="m-r-10 m-l-10">
                    <h3 class="font-weight-bold float-end mb-0"> {{statistic.nbFiliere}}</h3>
                  </div>
                </div>
              </div>
              <div class="card-chart">
                <canvas baseChart [chartType]="'line'" [datasets]="cardChart3Data" [labels]="cardChart3Label"
                  [options]="cardChart3" [legend]="true">
                </canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-statistic-2">
              <div class="clearfix">
                <div class="card-right">
                  <div>
                    <h5 class="float-end">Salles</h5>
                  </div>
                  <div class="m-r-10 m-l-10">
                    <h3 class="font-weight-bold float-end mb-0">{{statistic.nbSalle}}</h3>
                  </div>
                </div>
              </div>
              <div class="card-chart">
                <canvas baseChart [chartType]="'line'" [datasets]="cardChart2Data" [labels]="cardChart2Label"
                  [options]="cardChart2" [legend]="true">
                </canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-statistic-2">
              <div class="clearfix">
                <div class="card-right">
                  <div>
                    <h5 class="float-end">Professeurs</h5>
                  </div>
                  <div class="m-r-10 m-l-10">
                    <h3 class="font-weight-bold float-end mb-0">{{statistic.nbProf}}</h3>
                  </div>
                </div>
              </div>
              <div class="card-chart">
                <canvas baseChart [chartType]="'line'" [datasets]="cardChart1Data" [labels]="cardChart1Label"
                  [options]="cardChart1" [legend]="true">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</section>